@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    min-height: 100vh;
}
h1{
    font-size: 40px;
    font-weight: 500;
}
*{box-sizing: border-box;}
.copyrightAside{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
*:focus{
    outline: unset
}
*{
    font-family: 'Roboto';
}